#menuContent{
    min-width: fit-content;
}

/* Arama düğmesi */
.headerSearchIcon{
    cursor: pointer;
}

/* Arama için MyAnimeList linki entegrasyonu */

.mal-link{
    height: fit-content;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mal-img{
    height: auto;
    width: 3rem!important;
}

div.searchResultItem:has(img.mal-img) div.resultContent .animeSummary {
    padding-right: 4rem;
}

/* Arama için MyAnimeList linki entegrasyonu */


/* Arama için bölüm sayısı entegrasyonu */

.animeEpisodeCount {
    background: var(--primaryColorDarker);
    top: 1.5px;
    left: 1.5px;
    position: absolute;
    padding: 0 5px;
    border-radius: 7px;
    color: #eee;
    font-weight: bold !important;
    box-sizing: border-box;
    border-style: solid;
    border-width: thin;
    border-color: var(--primaryColor);
}

.resultImgDate > a {
    margin-left: 5px;
    width: fit-content;
    position: relative;
}

/* Arama için bölüm sayısı entegrasyonu */