/* Reklamlar */

/*a[href*="//shortlink.life"]:has(img),*/
#videoFrame + a,
a:has(+ #videoFrame)

{ display: none !important }

/* Reklamlar */


#menuContent{
    min-width: fit-content;
}

/* Arama düğmesi */
.headerSearchIcon{
    cursor: pointer;
}

/* Arama için MyAnimeList ve Anilist linki entegrasyonu */

.mal-link, .anilist-link {
    height: fit-content;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.anilist-link {
    margin-top: .5rem;
}

img.mal-img {
    height: auto;
    width: 80%;
}
img.anilist-img {
    cursor: pointer;
    height: auto;
    width: 50%;
}




.linksRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.linksRow .mal-link,
.linksRow .mal-img,
.linksRow .anilist-img {
    width: auto;
    height: 100%;
    display: inline-block;
}

.linksRow img.mal-img {
    margin-top: .2rem;
}

.linksRow .anilist-link {
    margin-top: 0;
}
.linksRow .anilist-img {
    margin-left: .5rem;
}



@media only screen and (min-width: 577px) {
    div.searchResultItem:has(img.mal-img) div.resultContent .animeSummary {
        margin-right: 70px;
    }
}

/* Arama için MyAnimeList ve Anilist linki entegrasyonu */


/* Arama için bölüm sayısı entegrasyonu */

.animeEpisodeCount {
    background: var(--primaryColorDarker);
    top: 1.5px;
    left: 1.5px;
    position: absolute;
    padding: 0 5px;
    border-radius: 7px;
    color: #eee;
    font-weight: bold !important;
    box-sizing: border-box;
    border-style: solid;
    border-width: thin;
    border-color: var(--primaryColor);
}

.resultImgDate > a {
    margin-left: 5px;
    width: fit-content;
    position: relative;
}

/* Arama için bölüm sayısı entegrasyonu */



/* Bazı reklam elementleri */

#searchBoxTop > div:not(#searchBoxTop > div:nth-child(2)) {
    display: none !important;
}
#searchBoxTop {
    display: flex !important;
    justify-content: center;
}

