#main {
    height: calc(100vh - 4rem);
}

#content {
    flex: 1;
    width: 100%;
    text-align: center;
}

#new-version {
    color: hsl(96, 73%, 61%);
}
#this-version {
    color: hsl(24, 80%, 62%);
}

#features, #features * {
    width: fit-content;
}
#features {
    margin: auto;
    font-size: medium;
}
#features code {
    background: rgba(255,255,255,.15);
    padding: .125rem;
    border-radius: .5rem;
    font-family: 'Courier New', Courier, monospace;
}
