/* --- Sabitler --- */

:root{
    --suAnIzlediklerim: #8CBF94;
    --tamaladiklarim: #7FA6E0;
    --izleyeceklerim: #E8B17D;
    --araVerdiklerim: #D3D3D3;

    --warning: #ff392f;
    --warningDark: #ff2116;
}

/* --- Sabitler --- */






*{
    box-sizing: border-box;
    outline: none;
}
html{
    background-color: var(--themeBgColor)!important;
}
body, html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    height: fit-content;
}

html {
    width: max-content;
    height: max-content;
}

body, main {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
}

#plus-icon{
    height: 2rem;
    max-height: 2rem;
    margin: 0;
    padding: 0;
    margin-left: -0.75rem;
    color: var(--primaryColor);
}

#main{
    background-color: var(--themeSecondaryBgColor);
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    /* justify-content: space-between; */
}

#main > *:not(header,footer) {
    margin-bottom: 1rem;
}

header{
    justify-content: center;
    position: relative;
    background-color: var(--themeBgColor);
}

footer{
    width: 100%;
    height: 3.5rem;
    margin-top: auto!important;
    padding: 0;
    justify-content: center;
    /* margin-top: 1rem; */
    background-color: var(--themeBgColor);
    box-shadow: 0 calc(50vh + 3.5rem) 0 50vh var(--themeBgColor);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: var(--primaryColorLighter);
}

@media (min-width: 0px) and (max-width: 550px) {

    #logo { display: block !important; }
    #logo-small { display: none !important; }

    ::-webkit-scrollbar { width: 5px; }
}

a {
    text-decoration: none;
}




#options-link{
    display: inline-block;
    height: 2rem;
    width: 2rem;
    right: .75rem;
    position: absolute;
}
#options-img{
    display: inline-block;
    height: 2rem;
    width: 2rem;
}




#list-links-container{
    display: none;
    flex-direction: column;
    width: fit-content;
    /* margin-top: 1rem; */
    border: .125rem solid var(--primaryColor);
    border-radius: .5rem;
    box-shadow: 0px 0px 10px 0px var(--primaryColor);
}
.list-link{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: center;
    padding: .5rem;
}
.list-img{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
}
.list-header{
    text-wrap: nowrap;
    margin: 0;
    padding: 0;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1.3rem;
}


#watching{ color: var(--suAnIzlediklerim); }
#watched{ color: var(--tamaladiklarim); }
#later{ color: var(--izleyeceklerim); }
#paused{ color: var(--araVerdiklerim); }




.footer-link{
    padding: 1rem;
    width: 3.5rem;
    height: 3.5rem;
}
.footer-link-img{
    width: 100%;
    height: 100%;
}





#search-form{
    max-height: fit-content;
    height: fit-content;
    width: calc(100% - 2rem);
    max-width: 25rem; /* 383px */
    display: flex;
    flex-direction: row;
    /* padding: 0 1rem; */
    border: .125rem solid var(--primaryColor);
    border-radius: .5rem;
    box-shadow: 0px 0px 10px 0px var(--primaryColor);
    flex: 0;
}
#query{
    flex: 1;
}



