:root{
    --scrollButton: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='M8,0C3.582,0 0,3.582 0,8C0,12.418 3.582,16 8,16C12.418,16 16,12.418 16,8C16,3.582 12.418,0 8,0ZM6.354,13.354L5.647,12.647L10.293,8L5.646,3.354L6.353,2.647L11.707,8L6.354,13.354Z' fill='%23a4a4a4'/></svg>");

    --primaryColor: hsl(0, 0%, 64%);
    --primaryColorDarker: hsl(from var(--primaryColor) h s calc(l - 10));
    --primaryColorLighter: hsl(from var(--primaryColor) h s calc(l + 10));
    /*--primaryColor: #7c7c7c;
    --primaryColorDarker: #5f5f5f;
    --primaryColorLighter: #aaa;*/

    --dunEklendiColor: hsl(from var(--primaryColor) h s calc(l - 30))!important;

    --chatangoFilter: invert(.935) grayscale(1) brightness(1.8);
}
