:root{
    color-scheme: dark;
    outline: none;

    --scrollButton: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='M8,0C3.582,0 0,3.582 0,8C0,12.418 3.582,16 8,16C12.418,16 16,12.418 16,8C16,3.582 12.418,0 8,0ZM6.354,13.354L5.647,12.647L10.293,8L5.646,3.354L6.353,2.647L11.707,8L6.354,13.354Z' fill='%23f1a035'/></svg>");

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


    /* Orange Theme (Default) */
    --logoFilter: none;

    --primaryColor: hsl(34, 87%, 58%);
    --primaryColorDarker: hsl(from var(--primaryColor) h s calc(l - 10));
    --primaryColorLighter: hsl(from var(--primaryColor) h s calc(l + 10));
    /*--primaryColor: #f1a035;
    --primaryColorDarker: #cf8320;
    --primaryColorLighter: #ffab3e;*/

    --dunEklendiColor: #b36e14;

    --themeBgColor: rgb(30, 30, 30);
    --themeSecondaryBgColor: rgb(20, 20, 20);
    --themeDarkerBgColor: rgb(10, 10, 10);

    --resultsCountTextDark: rgb(130, 130, 130);

    --chatangoFilter: invert(.88);
}
